.DS_Store
.idea/
.phpcs.cache
.phpunit.cache
.phpunit.result.cache
.vscode/
composer.lock
composer.phar
js/msls-widget-block/
js/msls.js
multisite-language-switcher.zip
multisite-language-switcher/
node_modules/
out/
phpunit.xml.bak
tests/coverage/
tests/playwright-report/
tests/playwright-results/
tests/playwright/.env.local
vendor/
