parameters:
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - MultisiteLanguageSwitcher.php
        - includes
    excludePaths:
        - vendor
        - tests
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
