<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/phpunit/bootstrap.php"
         backupGlobals="true"
         colors="true"
         testdox="false"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         cacheDirectory=".phpunit.cache"
>
  <php>
    <const name="MSLS_PLUGIN_PATH" value="multisite-language-switcher/MultisiteLanguageSwitcher.php"/>
    <const name="MSLS_PLUGIN__FILE__" value="/var/www/html/wp-content/plugins/multisite-language-switcher/MultisiteLanguageSwitcher.php"/>
    <const name="WP_DEBUG" value="true"/>
    <const name="ABSPATH" value="/var/www/html/"/>
    <const name="HOUR_IN_SECONDS" value="3600"/>
  </php>
  <testsuite name="Internal tests">
    <directory prefix="Test" suffix=".php">tests/phpunit</directory>
  </testsuite>
  <source>
    <include>
      <directory suffix=".php">includes/</directory>
    </include>
  </source>
</phpunit>
