name: UnitTests and CodeCoverage
permissions:
  contents: read
  pull-requests: write
on: [push]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v6
      - name: Composer dependencies
        run: composer install
      - name: Run Testsuite
        run: composer phpunit
  code-coverages:
    runs-on: ubuntu-latest
    needs: unit-tests
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout project
        uses: actions/checkout@v6
      - name: Composer dependencies
        run: composer install
      - name: Run Testsuite
        run: composer phpunit:clover
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: tests/coverage.xml